.Section {
  //   width: 100vh;
  margin: auto;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8em 2em;
  margin-bottom: 0%;
  padding-top: 500px;
  @media (min-width: 768px) {
    padding: 5em;
    font-size: 20px;
    scroll-padding: 64px;
    padding-top: 500px;
  }
  scroll-snap-align: start;
}

@font-face {
  font-family: "Apercu";
  src: url(../font/apercu/Apercu-Light.ttf) format("opentype");
}

.hey {
  color: #444452;
  font-family: "Apercu";
  font-weight: 300;
  font-size: 2.5em;
  @media (max-width: 800px) {
    font-size: 1.5em;
  }
}

.emojis {
  display: inline-block;
  vertical-align: text-top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: center;
  background-position-y: center;
  @media (max-width: 800px) {
    font-size: 1.5em;
  }
}

.wavingHand {
  @extend .emojis;
  background-image: url(../img/emojis/wave.png);
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin-left: 10px;
  // &: {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  // }
  &:hover {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  }
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  @media (max-width: 800px) {
    // font-size: 1.5em;
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes pointing-animation {
  0% {
    transform: translateX(-5px);
  }
  10% {
    transform: translateX(-3px);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(3px);
  }
  40% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(0px);
  } /* Reset for the last half to pause */
  100% {
    transform: translateX(0px)
  }
  
}
.description {
  margin-top: -20px;
  font-family: "Apercu";
  font-weight: 300;
  .Name {
    font-weight: 700;
  }
  font-size: 1.7em;
  @media (max-width: 784px) {
    font-size: 1.2em;
  }
  .experience {
    @extend .emojis;
    background-image: url("../img/emojis/man-technologist.png");
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    
  }
}

.touch {
  font-family: "Apercu";
  font-size: 1.5em;
  font-weight: 400;
  .touchIcon {
    @extend .emojis;
    background-image: url("../img//emojis/pointright.png");
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
  }

  .link {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #0e2f56;
    box-shadow: inset 0 -3px 0 #0e2f56;
    &:hover {
      color: white;
      background-color: #0e2f56;
    }
  }
}

.scroll_snap { /* Add this class to your container's block settings. */
  scroll-snap-align: start;
 }
 .ResumeDownload{
   margin-bottom: 0%;
   font-family: "Apercu";
  font-size: 1.2em;
  font-weight: 400;
  @media screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    .touchIcon{
      display: none;
      visibility: hidden;
    }
  }
   .touchIcon {
     animation-name: pointing-animation;
    @extend .emojis;
    background-image: url("../img//emojis/pointright.png");
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 10px;
    animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
  }
   a{
    font-size: 1em;
     border: 1px solid #0e2f56;
     padding: 1.5%;
     text-decoration: none;
     text-align: center;
    //  font-weight: 800;
     border-radius: 20px;
     background-color: #0e2f56;
     color: white;
     &:hover{
       background-color: white;
       color: #0e2f56;
     }
   }
 }
.contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  p{
    margin:15px 0%;
    margin-bottom: 25px;
    img{
      height: 50px;
    }
  }
}