.Section{
  display: grid;
  place-content: center;
  text-align: center;
  width: 80%;
  margin: 0% auto;
}
.title{
  font-size: 2em;
  font-weight: 800;
  color: #18356d;
  margin: 5rem auto;
  letter-spacing: 2px;
  // height: fit-content;
  font-family: "Apercu";
  margin-bottom: 10px;
}
.content{
  padding: 1rem;
  padding-top: -10px;
  display: grid;
  place-content: center;
  // grid-template-columns: repeat(3, 1fr);
}

.project{
  // padding: 10%;
  margin: 5% auto;
  display: grid;
  grid-template-columns: 90vh auto;
}
.ImageHolder{
  width: fit-content;
  border: #18356d solid 1px;
  border-radius: 10px;
  margin: auto 10px;
  img{
    padding: 2%;
    width:90%;
  }
}
.projectDetails{
  display: grid;
  grid-template-rows: 50px auto auto auto;
  grid-gap: 0px;
}

.projectTitle{
  font-size: 1.5em;
  font-weight: 500;
  color: #18356d;
  margin: 0rem auto;
  height: fit-content;
  br{
    display: none;
    visibility: hidden;
  }
}
.projectContent{
  font-size: 1.1em;
  // font-weight: 500;
  text-align: left;
  margin: auto;
  height: fit-content;
  margin-left: 10%;
  margin-bottom: auto;

}

.techStack{
  margin-left: 10%;
  display: flex;
  color: rgb(102, 102, 102);
  flex-wrap: wrap;
  // flex-grow: unset;
  .stackTitle{
    border: none;
    font-size: 20px;
  }
  span{
    height: fit-content;
    border: #18356d solid 1px;
    border-radius: 10px;
    padding: 0.5%;
    margin-left: 10px;
    min-width: 80px;
    // marg
  }
}

.projectLinks{
  // margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  text-decoration: none;
  color: #fff !important;
  :hover {
    cursor: pointer;
    background-color: #fff;
    color: #18356d !important;
  }
  
  span{
    padding: 2rem;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 100%;
    height: fit-content;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    :hover {
      // background-color: #fff;
      color: #18356d !important;
    }
  }
  a{
    // animation: ease-in-out 0.5s;
    color: #fff !important;
    margin-left: 10px;
    text-decoration: none;
    height: fit-content;
    border-radius: 10px;
    border: #18356d solid 1px;
    min-width: 100px;
    padding: .5rem;
    background-color: #18356d;
    margin-bottom: 10px;
    :hover {
      background-color: #fff;
      color: #18356d !important;
    }
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .project{
    display: grid;
  grid-template-columns: auto ;
  }
  .projectTitle{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 110%;
    margin-left:-2% ;
    padding-left: 0%;
  }
.projectContent{
  margin-left: 5%;
  width: 105%;
  font-size: 1.2rem;
}
  .techStack{
    margin-top: 30px;
    margin-bottom: 10px;
    width:100%;
    margin-left:auto ;
    font-size: small;
      span{
        margin-top: 2%;
        margin-left: 15px;
       }
      }
      .projectLinks{
        span{
          width: 40%;
        }
      }
      hr {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
}