.section {
  height: 60vh;
  //   border: 1px solid black;
  margin: auto;
  padding-top: 100px;
  img {
    height: 90px;
    margin: 10px 50px;
  }

  // display: none;
    @media only screen and (max-width: 521px) {
      // .poweredBy {
      display: none;
      // }
    }
}
.holder {
  background: #ffffff;
  padding: 0.5rem;
  overflow: hidden;
  // background-color: #0e2f56;
}
.news {
  animation: slide 15s linear infinite;
  background-color: #ffffff;
  width: max-content;
}
.STC {
  background-color: rgb(201, 201, 201);
}

.skills {
  font-family: "Apercu";
  font-size: 2em;
  color: #0e2f56;
  font-weight: 1000;
  //   width: 40px;s
  text-align: center;
  margin: auto;
}

@keyframes slide {
    100% {
        transform: translatex(-40%);
      }
    
      0% {
          transform: translatex(10%);
        }
      }
      
      
      
      
      
      .Section{
        display: grid;
        grid-template-rows: auto auto auto;
        margin: auto;
        align-items: center;
        place-content: center;
        padding-top: 10%;
        row-gap: 2rem;
        @media only screen and (max-width: 521px) {
          // .poweredBy {
          display: none;
          // }
        }
        div{
          align-items: center;
          // width: 100%;
          place-items: center;
          margin: auto;
          display: flex;
          span{
            color: rgb(150, 150, 150);
            // display: none;
            // visibility: hidden;
          }
          img{
            height: 4em;
            margin: 0px 50px; 
          }
        }
        .middle{     
          img{
            height: 6em;
            margin: 10px 50px;
          }
        }
        .STC {
          background-color: rgb(201, 201, 201);
        }
        .skills {
          font-family: "Apercu";
          font-size: 2em;
          color: #0e2f56;
          font-weight: 1000;
          //   width: 40px;s
          text-align: center;
          margin: auto;
          letter-spacing: 2px;
        }
}