.section {
  height: 40vh;
  //   border: 1px solid black;
  margin: auto;
  .marquee {
  }
  img {
    height: 100px;
    margin: 10px 50px;
  }
}

.STC {
  background-color: rgb(201, 201, 201);
}

.skills {
  font-family: "Apercu";
  font-size: 2em;
  color: #0e2f56;
  font-weight: 1000;
  //   width: 40px;s
  text-align: center;
  margin: auto;
}
