.App {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-snap-type: y proximity;
}
body, html { overflow-x:hidden;
  /* overflow-y:; Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */ }
  html::-webkit-scrollbar {
    display: none;
  }
html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
  }

.holder {
  background: #ccc;
  padding: 0.5rem;
  overflow: hidden;
  /* z-index: 10; */
}
.news {
  animation: slide 10s linear infinite;
  /* z-index: -10; */
  position: relative;
}

@keyframes slide {
  0% {
    transform: translatex(-50%);
  }

  100% {
    transform: translatex(200%);
  }
}
